<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmployeeService" />
                <binding name="BasicHttpBinding_IProjectService" />
                <binding name="BasicHttpBinding_ITaskService" />
                <binding name="BasicHttpBinding_ITimesheetService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9002/EmployeeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeService"
                contract="Services.Employee.IEmployeeService" name="BasicHttpBinding_IEmployeeService" />
            <endpoint address="http://localhost:9002/ProjectService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProjectService"
                contract="Services.Project.IProjectService" name="BasicHttpBinding_IProjectService" />
            <endpoint address="http://localhost:9002/TaskService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITaskService" contract="Services.Task.ITaskService"
                name="BasicHttpBinding_ITaskService" />
            <endpoint address="http://localhost:9002/TimesheetService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITimesheetService"
                contract="Services.Timesheet.ITimesheetService" name="BasicHttpBinding_ITimesheetService" />
        </client>
    </system.serviceModel>
</configuration>